<script src="/javascripts/jquery-1.12.1.min.js"></script>
<!-- popper js -->
<script src="/javascripts/popper.min.js"></script>
<!-- bootstrap js -->
<script src="/javascripts/bootstrap.min.js"></script>
<!-- easing js -->
<script src="/javascripts/jquery.magnific-popup.js"></script>
<!-- swiper js -->
<script src="/javascripts/swiper.min.js"></script>
<!-- swiper js -->
<script src="/javascripts/masonry.pkgd.js"></script>
<!-- particles js -->
<script src="/javascripts/owl.carousel.min.js"></script>
<script src="/javascripts/jquery.nice-select.min.js"></script>
<!-- slick js -->
<script src="/javascripts/slick.min.js"></script>
<script src="/javascripts/jquery.counterup.min.js"></script>
<script src="/javascripts/waypoints.min.js"></script>
<script src="/javascripts/contact.js"></script>
<script src="/javascripts/jquery.ajaxchimp.min.js"></script>
<script src="/javascripts/jquery.form.js"></script>
<script src="/javascripts/jquery.validate.min.js"></script>
<script src="/javascripts/mail-script.js"></script>
<!-- custom js -->
<script src="/javascripts/custom.js"></script>

</body>

</html>