<footer class="footer_part">
    <div class="container">
        <div class="row justify-content-around">
            <div class="col-sm-6 col-lg-2">
                <div class="single_footer_part">
                    <h4>C - An Online Shopping Center</h4>
                    <ul class="list-unstyled">
                        <li><a href = "/"> <img src="/images/logo_transparent.png" alt="logo"> </a> </li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-6 col-lg-2">
                <div class="single_footer_part">
                    <h4>Category</h4>
                    <ul class="list-unstyled">
                        <li><a href="/shop/11638">Electronic Equipments</a></li>
                        <li><a href="/shop/22554">Toys for Kids</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-6 col-lg-2">
                <div class="single_footer_part">
                    <h4>Customer Care</h4>
                    <ul class="list-unstyled">
                        <li><a href="">About Us</a></li>
                        <li><a href="">Contact Us</a></li>
                        <li><a href="/track_order">Track Order</a></li>
                        <li><a href="">Terms of Service</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-6 col-lg-2">
                <div class="single_footer_part">
                    <h4>Social Media</h4>
                    <div class="footer_icon">
                        <ul class="list-unstyled">
                            <li><a href="#" class="single_social_icon"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="#" class="single_social_icon"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="#" class="single_social_icon"><i class="fas fa-globe"></i></a></li>
                            <li><a href="#" class="single_social_icon"><i class="fab fa-behance"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="copyright_part">
        <div class="container">
            <P style="text-align: center">
                Copyright &copy;
                <script>document.write(new Date().getFullYear());</script> All rights reserved </br> Thank you for
                visiting <a href="/" style="color: #ff3368;">C - An Online Shopping Center</a> .
            </P>
        </div>
    </div>
</footer>

<script src="/javascripts/jquery-1.12.1.min.js"></script>
<!-- popper js -->
<script src="/javascripts/popper.min.js"></script>
<!-- bootstrap js -->
<script src="/javascripts/bootstrap.min.js"></script>
<!-- easing js -->
<script src="/javascripts/jquery.magnific-popup.js"></script>
<!-- swiper js -->
<script src="/javascripts/swiper.min.js"></script>
<!-- swiper js -->
<script src="/javascripts/masonry.pkgd.js"></script>
<!-- particles js -->
<script src="/javascripts/owl.carousel.min.js"></script>
<script src="/javascripts/jquery.nice-select.min.js"></script>
<!-- slick js -->
<script src="/javascripts/slick.min.js"></script>
<script src="/javascripts/jquery.counterup.min.js"></script>
<script src="/javascripts/waypoints.min.js"></script>
<script src="/javascripts/contact.js"></script>
<script src="/javascripts/jquery.ajaxchimp.min.js"></script>
<script src="/javascripts/jquery.form.js"></script>
<script src="/javascripts/jquery.validate.min.js"></script>
<script src="/javascripts/mail-script.js"></script>
<!-- custom js -->
<script src="/javascripts/custom.js"></script>

</body>

</html>