<%- include('../includes/header.ejs') %>
<%- include('../includes/navigation.ejs') %>
    
      <!--================Home Banner Area =================-->
  <!-- breadcrumb start-->
  <section class="breadcrumb breadcrumb_bg_cart">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-8">
          <div class="breadcrumb_iner">
            <div class="breadcrumb_iner_item">
              <h2>Your Cart</h2>
              <p>C<span>-</span>An Online Shopping Center</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- breadcrumb start-->

  <!--================Cart Area =================-->
  <section class="cart_area padding_top">
    <div class="container">
      <div class="cart_inner">
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Product</th>
                <th scope="col">Price</th>
                <th scope="col">Quantity</th>
                <th scope="col">Total</th>
              </tr>
            </thead>
            <tbody>
              <% for(var i =0;i<6;i++){%>
                <tr>
                  <td>
                    <div class="media">
                      <div class="d-flex">
                        <img src="/images/product/single-product/cart-1.jpg" alt="" /> {{!-- Image of the product --}}
                      </div>
                      <div class="media-body">
                        <p>Minimalistic shop for multipurpose use</p> {{!-- varient ID and the product name ?? --}}
                      </div>
                    </div>
                  </td>
                  <td>
                    <h5>$360.00</h5> {{!-- varient price --}}
                  </td>
                  <td>
                    <div class="product_count">
                      <span class="input-number-decrement"> <i class="ti-angle-down"></i></span>
                      <input class="input-number" type="text" value="1" min="0" max="10">
                      <span class="input-number-increment"> <i class="ti-angle-up"></i></span>
                    </div>
                  </td>
                  <td>
                    <h5>$720.00</h5>
                  </td>
                </tr>
              <% } %>
              
              <tr class="bottom_button">
                <td>
                  <a class="" href="#"></a>
                </td>
                <td></td>
                <td></td>
                <td>
                  <div class="cupon_text float-right">
                    <a class="btn_1" href="#">Update Cart</a>
                  </div>
                </td>
              </tr>
              <tr>
                <td></td>
                <td></td>
                <td>
                  <h5>Subtotal</h5>
                </td>
                <td>
                  <h5>$2160.00</h5>
                </td>
              </tr>
              <tr class="shipping_area">
                <td></td>
                <td></td>
                <td>
                  <h5>Type of Delivery</h5>
                </td>
                <td>
                  <div class="shipping_box">
                    <ul class="list">
                      {{!-- <li>
                        <a href="#"></a>
                      </li> --}}
                      {{!-- <li>
                        <a href="#">Free Shipping</a>
                      </li> --}}
                      <li>
                        <a href="#">Local Delivery</a>
                      </li>
                      <li class="active">
                        <a href="#">Store Pickup</a>
                      </li>
                    </ul>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
          <div class="checkout_btn_inner float-right">
            <a class="btn_1" href="#">Continue Shopping</a>
            <a class="btn_1 checkout_btn_1" href="#">Proceed to checkout</a>
          </div>
        </div>
      </div>
  </section>
  <!--================End Cart Area =================-->


<%- include('../includes/footer.ejs') %>
