<%- include('../includes/header.ejs') %>
<%- include('../includes/navigation.ejs') %>

<!-- Methnta enne body eka -->
    <!-- breadcrumb start-->
    <section class="breadcrumb breadcrumb_bg">
        <div class="container">
            <div class="row justify-content-center">
                <div>
                    <div class="breadcrumb_iner">
                        <div class="breadcrumb_iner_item">
                            <h2 style="color: #00ADB5;">Admin Dashboard</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- breadcrumb start-->

<%- include('../includes/footer.ejs') %>