<%- include('../includes/header.ejs') %>
<%- include('../includes/navigation_admin.ejs') %>

<!-- breadcrumb start-->
<section class="breadcrumb breadcrumb_bg">
    <div class="container">
        <div class="row justify-content-center">
            <div>
                <div class="breadcrumb_iner">
                    <div class="breadcrumb_iner_item">
                        <h2 style="color: #00ADB5;">Admin Dashboard</h2>
                        <h3 style="color: #00ADB5;">Reports</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- breadcrumb start-->

<!--================Panel Area =================-->
<section class="cat_product_area">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="row align-items-center latest_product_inner">
                    <div class="col-lg-6 col-sm-6">
                        <div class="single_product_item align-items-center">
                            <a href="#">
                                <div class="single_product_text">
                                    <div class="row">
                                        <div class="col-3"> <i style= "color: #00ADB5;"class="fas fa-plus-circle fa-4x"></i> </div>
                                        <div class="col">
                                            <h2 style="color: #00ADB5;">Quarterly Sales Report</h2>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-6 col-sm-6">
                        <div class="single_product_item align-items-center">
                            <a href="/admin/report/top_sold_products/">
                                <div class="single_product_text">
                                    <div class="row">
                                        <div class="col-3"> <i style= "color: #00ADB5;"class="fas fa-eye fa-4x"></i> </div>
                                        <div class="col">
                                            <h2 style="color: #00ADB5;">Top Sold Products</h2>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-6 col-sm-6">
                        <div class="single_product_item align-items-center">
                            <a href="#">
                                <div class="single_product_text">
                                    <div class="row">
                                        <div class="col-3"> <i style= "color: #00ADB5;"class="fas fa-plus-circle fa-4x"></i> </div>
                                        <div class="col">
                                            <h2 style="color: #00ADB5;">Top Category</h2>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-6 col-sm-6">
                        <div class="single_product_item align-items-center">
                            <a href="/admin/view_product">
                                <div class="single_product_text">
                                    <div class="row">
                                        <div class="col-3"> <i style= "color: #00ADB5;"class="fas fa-eye fa-4x"></i> </div>
                                        <div class="col">
                                            <h2 style="color: #00ADB5;">Product Top Reach</h2>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================End Pannel Area =================-->

<%- include('../includes/footer_admin.ejs') %>