<%- include('includes/header.ejs') %>
<%- include('includes/navigation.ejs') %>
    
    <!-- breadcrumb start-->
<section class="breadcrumb breadcrumb_error">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="breadcrumb_iner">
                    <div class="breadcrumb_iner_item">
                        <h2>404 ERROR</h2>
                        <p>C <span>-</span> An Online Shopping Center</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- breadcrumb start-->
<section class="confirmation_part padding_top">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="confirmation_tittle">
                    <h1>YOU MAY HAVE TAKE A WRONG TURN?</h1>
                    <br />
                    <a href = "/" class = "btn_3">Home</a>
                    <span> &nbsp; | &nbsp;</span>
                    <a href = "/shop" class = "btn_3">Shop</a>                
                </div>
            </div>
        </div>
    </div>
</section>


<%- include('includes/footer.ejs') %>
