<%- include('includes/header.ejs') %>
<%- include('includes/navigation_admin.ejs') %>

<!-- breadcrumb start-->
<section class="breadcrumb breadcrumb_bg">
    <div class="container">
        <div class="row justify-content-center">
            <div>
                <div class="breadcrumb_iner">
                    <div class="breadcrumb_iner_item">
                        <h2 style="color: #00ADB5;">404 - PAGE NOT FOUND</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- breadcrumb start-->

<!-- breadcrumb start-->
<section class="confirmation_part padding_top" style="padding-bottom: 5%;">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="confirmation_tittle">
                    <h1>YOU MAY HAVE TAKE A WRONG TURN?</h1>
                    <br />
                    <a href = "/admin" class = "genric-btn success-border circle arrow" style="font-size: 14px;">Dashboard</a>              
                </div>
            </div>
        </div>
    </div>
</section>

<%- include('includes/footer_admin.ejs') %>